env/
instance/secretkey.txt
instance/secretkey
__pycache__/
calAPI/credentials.json
credentials.json
calAPI/token.json
token.json
token_modular.json
client_secret.txt
client_secrets.jsonstatic/css/.DS_Store
static/css/.DS_Store
static/.DS_Store
client_secrets.json
node_modules/