body {
  font-family: sans-serif;
  margin-left: 15px;
  font-size:0.8em;
  background-color: #e0e0e0;
}

ul {
	list-style-type: none

}

.home-page-mantra{
	font-size: 2em;
	margin: 60px 60px;

}
#quick-add-info{
	font-size: .7em;
}

#add-a-task-btn {

	font-size: 1.1em;
	margin:10px;
	margin-bottom: 1.3em;
}

.register-div{

	margin: 10px,0px;
}

#small-text {
	font-size: 0.5em;

}
.small-text{
	font-size: 0.5em;

}

.header-bar{
	margin:10px;
	margin-left: 0;
	padding: 10px 40px;
	background-color: #ffffff;
	text-align: right;
}
.header-bar-item{
	margin: 0 8px;

}
.quick-add{
	padding:10px;
	padding-left: 40px;	
	background-color: #ffffff;

}
.today-tasks, .later-tasks{

	display: inline-block;
	margin: 5px;

	width:340px;
	background-color: #ffffff;
	padding:0 15px;
	vertical-align:top;
	}

.completed-tasks{
	padding:10px;
	background-color: #ffffff;
	margin:5px;
	padding:10px 15px;
	width:340px;

}
.completed-task-li{
	color:grey;
	font-size:0.8em;
}

.blue-bg{
	background-color: blue;
}
/*
.half-transparent{
	opacity:0.5;
}*/
a.ex-cirle.hover{
	color:#444444;

}
.fa-times-circle-o{
	color: #AAAAAA;

}