body {
  font-family: sans-serif;
  margin-left: 15px;
  font-size:0.8em;
  background-color: #e0e0e0;
}

ul {
	list-style-type: none

}

a.task-msg {
	text-decoration: none !important;
	color: #49527a;
}
a:hover {
	background-color:lightgrey;
}
/*.navbar{
	margin-top:10px;
}
.navbar-light {
	background-color: #f9f9f9 !important;
}*/

.home-page-mantra{
	font-size: 1.5em;
	margin: 60px 60px;
}
.alert-secondary{
	padding: 1rem;
}
#quick-add-info{
	font-size: .7em;
}
.login-btn {
	margin-left: 10px important;
}

#add-a-task-btn {

	font-size: 1.1em;
	margin:10px;
	margin-bottom: 1.3em;
}

.register-div{

	margin: 10px,0px;
}

#small-text {
	font-size: 0.5em;

}
.small-text{
	font-size: 0.5em;

}

.header-bar{
	margin:10px;
	margin-left: 0;
	padding: 10px 40px;
	position: relative;
	background-color: #ffffff;
}
.header-bar-item{
	margin: 0 8px;
	text-align: right !important;
  /*margin-right: auto !important;*/


}
#Mojivation{
  display: inline-block;
  padding-top: 0.32421875rem;
  padding-bottom: 0.32421875rem;
  margin-right: 1rem;
  font-size: 1.171875rem;
  line-height: inherit;
  white-space: nowrap;

}
.quick-add{
	padding:10px;
	padding-left: 40px;	
	background-color: #ffffff;

}
.today-tasks, .later-tasks{

	display: inline-block;
	margin: 5px;

	width:340px;
	background-color: #ffffff;
	padding:0 15px;
	vertical-align:top;
	}

.completed-tasks{
	padding:10px;
	background-color: #ffffff;
	margin:5px;
	padding:10px 15px;
	width:340px;

}
.completed-task-li{
	color:grey;
	font-size:0.8em;
}

.blue-bg{
	background-color: blue;
}
.bg-med{
	background-color: #eee;

}

.half-transparent{
	opacity:0.5;
}
a.ex-cirle.hover{
	color:#444444;

}
.fa-times-circle-o{
	color: #AAAAAA;

}
.collect{
	margin: 5px 0;
}
.collects,  .user-info-settings {
	display:inline-block;
	margin:20px;
	padding:20px;
	background-color: #ffffff;
	vertical-align:top;

}
.collects{
	width:7	0%;
}

.kao {
	font-family: monospace;
	font-size:1.5em;
	/*padding-bottom: 15px;*/

}
.cal-btn {
	background-color: #4286f4; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;

}
.in-line {
	  display: inline-block;

}
.hidden {
	visibility: hidden !important;
}

.remove {
	display: none;
}