<html>
<head>
  <title>{% block title %}template title {% endblock %}</title>

  <script src="/static/js/jquery-3.3.1.min.js"> </script>
  <script src="https://use.fontawesome.com/609238688a.js"></script>
  <link rel="stylesheet" href="/static/css/site.css">
  
</head>
<body>




<div class="header-bar">

  <span class="TESTING"> <a href="/oAuth-authoriz">authorize with oAuth</a>
  <span class="current-user header-bar-item">
    {% if session.get("current_username") %} 
    You are logged in as: <a href="/user-info">{{ session.get("current_username") }}</a>
  </span>
  <span class="header-bar-item"> <a href="/tasks">Tasks</a>
  </span>
  <span class="login header-bar-item">
  <span class="logout header-bar-item"> 
    <a href="/logout"> Logout</a>
  </span>
  {% else %}
  <span class="login header-bar-item">
      <a href="/login"> Login</a>     </span>
  <span class="register header-bar-item">
      <a href="/register"> Register</a>     </span>

   {% endif %}
    

</div>

	<h1>{% block h1_heading %}HEADING {% endblock %}</h1>

  <p>

  </p>
	  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="flash">{{ message }}</div>
      {% endfor %}
  {% endwith %}

	{% block content %} content goes here {% endblock %}
	
	
</body>
</html>
