<html>
<head>
  <title>{% block title %}template title {% endblock %}</title>

  <!-- this is jquery -->
<!-- 
  <script src="/static/js/jquery-3.3.1.min.js"> </script>
  <script src="https://use.fontawesome.com/609238688a.js"></script> -->

<!-- these 3 scripts are for REACT -->
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

  <script src="http://unpkg.com/babel-standalone"></script>

  <!-- <script src="static/js/react.jsx" type="text/jsx"></script> -->



<script >const flashedMessages = []
            {% with messages = get_flashed_messages() %}
              {% for message in messages %}
                flashedMessages.push(`{{message}}`)
              {% endfor %}
            {% endwith %}

        const session = {
          current_username:'{{ session.get("current_username") }}',
          current_user_id:'{{ session.get("current_user_id") }}'
        }
          console.log(session)

</script>


<script src="static/js/base.jsx" type="text/jsx"></script>

{% block reactjsx %}  {% endblock %}

<!-- bootstrap -->
  <link rel="stylesheet" href="/static/css/bootstrap.css">

<!-- my own CSS -->
  <link rel="stylesheet" href="/static/css/site.css">
  
</head>


<body>


<div id="base">
</div>

<h1>{% block h1_heading %} heading {% endblock %}</h1>


{% block content %} base content {% endblock %} 
	
</body>
</html>
