{% extends 'base.html' %}

{% block title %} Add a Task {% endblock %}

{% block h1_heading %} Edit a Task {% endblock %}


{% block content %} 

<form method="POST" action="/confirm-edit">
  <table>
    <tr>
      <td>Task</td>
      <td><input type="text_box" 
             name="msg"
             size="37"
             value="{{task.msg}}"
             >
             <input 
             value={{task.task_id}}
             name="task_id" hidden> 
 
      </td>
    </tr>
    <tr>
      <td>Due date</td>
      <td><input type="date" 
             name="duedate"> <input type="time" 
             name="duetime"
             value="{{task.due_date}}">
          
      </td>
    </tr>
<!--     <tr>
      <td>Due time</td>
      <td><input type="time" 
             name="duetime"> 
          
      </td> -->
    <tr>
      <td></td><td> 
        <input type="checkbox" 
             value="today"
             name="today"> (Due today)
      </td>
    </tr>
    <tr>
       <td>
       </td>
       <td> <input type="checkbox" 
                value="True"

                 name="repeating"
                 {% if task.is_repeating %}
                 checked
                 {% endif %}
                 > (Repeat daily)
       </td>
    </tr>
    <tr><td> 
      <input type="submit" value="Add"> 
    </td><td><a href="/tasks"> Cancel</a></td></tr>
  </table>
</form>


 {% endblock %}