<!-- index-wp.html -->

<html>
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified bootstrap CSS -->
    <!-- <link rel="stylesheet" href="/static/css/bootstrap.css"> -->

    <title>Mojivation</title>


      <link rel="stylesheet" href="http://54.244.23.112:8000/static/css/bootstrap.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">


    <!-- my own CSS -->
      <link rel="stylesheet" href="http://54.244.23.112:8000/static/css/site.css">

      <!-- 
      whenever I want to run css they have to be pointing to an alternative port
      and that port has to be running with command: 

      python -m SimpleHTTPServer

      ouside of vagrant 
      -->

  <script >const flashedMessages = []
            {% with messages = get_flashed_messages() %}
              {% for message in messages %}
                flashedMessages.push(`{{message}}`)
              {% endfor %}
            {% endwith %}

        const session = {
          current_username:'{{ session.get("current_username") }}',
          current_user_id:'{{ session.get("current_user_id") }}'
        }

</script>

<link rel="shortcut icon" href="# " />
<!--  <link rel="stylesheet" href="/static/css/bootstrap.css">

my own CSS
  <link rel="stylesheet" href="/static/css/site.css">
 -->
  </head>
  <body>
    <div id="content" />
    <script src="../dist/bundle.js" type="text/javascript"></script>
  </body>
</html>