{% extends 'base.html' %}

{% block title %} Add a Task {% endblock %}

{% block h1_heading %} Add a Task {% endblock %}


{% block content %} 





<form method="POST" action="/add_new_task">
  <table>
    <tbody>
    <tr>
      <td>Task</td>
      <td><input type="text_box" 
             name="msg"
             size="37" 
             required />
 
      </td>
    </tr>
    <tr>
      <td>Due date</td>
      <td><input type="date" 
             name="duedate" /> 
          <input type="time" 
             name="due_time" />
          
      </td>
    </tr>
<!--     <tr>
      <td>Due time</td>
      <td><input type="time" 
             name="duetime"> 
          
      </td> -->
    <tr>
      <td></td><td> 
        <input type="checkbox" 
             value="today"
             name="today" /> (Due today)
      </td>
    </tr>
    <tr>
       <td>
       </td>
       <td> <input type="checkbox" 
                value="True"
                 name="repeating" /> (Repeat daily)
       </td>
    </tr>
    <tr><td> 
      <input type="submit" value="Add" /> 
    </td><td><a href="/tasks"> Cancel</a></td></tr>
  </tbody>
  </table>
</form>

 {% endblock %}