{% extends 'base.html' %}

{% block title %} Add a Task {% endblock %}

{% block h1_heading %} Add a Task {% endblock %}


{% block content %} 





<form method="POST" action="/add_new_task">
	<table>
		<tr>
			<td>Task</td>
			<td><input type="text_box" 
					   name="msg" 
					   required>
 
			</td>
		</tr>
		<tr>
			<td>Due date</td>
			<td><input type="date" 
					   name="duedate"> 
					
				</td></tr><tr><td></td><td>	
				<input type="checkbox" 
					   value="today"
					   name="today"> (Due today)
					</td>
				</tr>
				<tr>
				   <td>
				   </td>
				   <td>	<input type="checkbox" 
					   		value="True"
					  		 name="repeating"> (Repeat daily)</td>
		</tr>
		<tr><td> 
			<input type="submit" value="Add"> 
		</td><td><a href="/tasks"> Cancel</a></td></tr>
	</table>
</form>

 {% endblock %}