{% extends 'base.html' %}

{% block title %} Tasks {% endblock %}

{% block h1_heading %}
  All Tasks
{% endblock %}


{% block content %} 

<div class="add-a-task">
  <a href="/new_task"><button id="add-a-task-btn">Add a Task</button></a>
</div>




<div class="today-tasks">
  <h2>Due Today</h2>
  <span id="EOD-span" class="small-text">EOD is: {{EOD}} UTC</span> 
  <ul>
    {% for task in tasks %}
      {% if task.is_complete == False and task.due_date <= EOD %}
      <form action="/complete-task" method="POST">
        <input hidden 
             name="task_id" 
             value={{task.task_id}}>
      <li>
        <input type=submit name="complete" value="Done"> 
        <span class="task-msg">
          <a href="/edit_task/{{task.task_id}}">
          {{task.msg}}</a>
        </span>

        <a href="/delete-task-{{task.task_id}}">
          <i class="fa fa-times-circle-o ex-cirle" aria-hidden="true" alttext="delete task"></i>
        </a>
      {% endif %}
      </li>
    </form>
    {% endfor %}
  </ul>

  <div class="quick-add">
    <form method="POST" action="/add_new_task">
      <input type="text_box" 
           required 
           name="msg">

      <input hidden name="duedate" value="">
      <input type="submit" value="Quick Add">
      <p id="quick-add-info">
        * Quick add due date auto completes to today
      </p>
    </form>
  </div>
</div>

<div class="later-tasks">
  <h2> Due Later</h2>
  <ul>
  {% for task in tasks %}
      {% if task.is_complete == False and
      task.is_repeating == False and 
      task.due_date > EOD %}
        <form action="/complete-task" method="POST">
          <input hidden 
               name="task_id" 
               value={{task.task_id}}>
        <li>
          <input type=submit name="complete" value="Done"> 
          {{task.msg}} 
          <a href="/delete-task-{{task.task_id}}">
              <i class="fa fa-times-circle-o ex-cirle" aria-hidden="true" alttext="delete task"></i>
          </a>
         </form>
      {% endif %}
      </li>
    {% endfor %}
</ul>
</div>





<div class="completed-tasks">
  
  <h3>Completed</h3>

  <ul>
    {% for task in tasks %}
    {% if task.is_complete %}
      <form action="/undo_complete" method="POST">
        <input hidden name="task_id" 
        value={{task.task_id}}>
        <input hidden name="potato" value="apple">
    <li class="completed-task-li">
        <input type="submit" value="Undo">
        {{task.msg}}
        <a href="/delete-task-{{task.task_id}}">
            <i class="fa fa-times-circle-o ex-cirle" aria-hidden="true" alttext="delete task"></i>
        </a>
    </li>
      </form>

    {% endif %}
    {% endfor %}
  </ul>
  <a href="/clear-all-completed">Clear Completed</a>
</div>


<div id="this_div" hidden>
  a random div
</div>


 <script src="/static/js/tasks.js"> </script>

 {% endblock %}
 

