{% extends 'base.html' %}

{% block title %} Tasks {% endblock %}

{% block h1_heading %}
  All Tasks
{% endblock %}
{% block reactjsx %}   <script src="static/js/tasks.jsx" type="text/jsx"></script>
{% endblock %}



{% block content %} 

<div class="add-a-task">
  <a href="/new_task"><button id="add-a-task-btn">Add a Task</button></a>
</div>






<div id="root">
  a random div
</div>





<div class="completed-tasks">
  
  <h3>Completed</h3>

  <ul>
    {% for task in tasks %}
    {% if task.is_complete %}
      <form action="/undo_complete" method="POST">
        <input hidden name="task_id" 
        value={{task.task_id}}>
    <li class="completed-task-li">
        <input type="submit" value="Undo">
          <a class="task-msg" 
           href="/edit_task/{{task.task_id}}">
            {{task.msg}}
          </a>
          <a href="/delete-task-{{task.task_id}}">
            <i class="fa fa-times-circle-o ex-cirle" aria-hidden="true" alttext="delete task"></i>
        </a>
    </li>
      </form>

    {% endif %}
    {% endfor %}
  </ul>
  <a href="/clear-all-completed">Clear Completed</a>
</div>



<!-- <button class="task-button">click me</button>
<div class='test_tasks'> tasks here</div>
 <script src="/static/js/tasks.js"> </script> -->

 {% endblock %}
 

