{% extends 'base.html' %}

{% block title %} Tasks {% endblock %}

{% block h1_heading %}
  All Tasks
{% endblock %}


{% block content %} 

<div class="add-a-task">
  <a href="/new_task"><button id="add-a-task-btn">Add a Task</button></a>
</div>




<div class="today-tasks">
  <h2>Due Today</h2>
  <ul id="today-tasks-ul">

  </ul>

  <div class="quick-add">
    <form method="POST" action="/add_new_task">
      <input type="text_box" 
           required 
           name="msg">

      <input hidden name="duedate" value="">
      <input type="submit" value="Quick Add">
      <p id="quick-add-info">
        * Quick add due date auto completes to today
      </p>
    </form>
  </div>
</div>

<div class="later-tasks">
  <h2> Due Later</h2>
  <ul id="later-tasks-ul">
  
</ul>
</div>





<div class="completed-tasks">
  
  <h3>Completed</h3>

  <ul id='completed-tasks-ul'>
    
  </ul>
  <a href="/clear-all-completed">Clear Completed</a>
</div>


<div id="this_div" hidden>
  a random div
</div>


 <script src="/static/js/tasks.js"> </script>

 {% endblock %}
 

