{% extends 'base.html' %}

{% block title %} Tasks {% endblock %}

{% block h1_heading %}
  All Tasks
{% endblock %}
{% block reactjsx %}   <script src="static/js/tasks.jsx" type="text/jsx"></script>
{% endblock %}



{% block content %} 

<div class="add-a-task">
  <a href="/new_task"><button id="add-a-task-btn">Add a Task</button></a>
</div>






<div id="root">
  a random div
</div>









<!-- <button class="task-button">click me</button>
<div class='test_tasks'> tasks here</div>
 <script src="/static/js/tasks.js"> </script> -->

 {% endblock %}
 

